@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-gray-900 text-white;
}

/* NProgress customization */
#nprogress .bar {
  @apply bg-purple-500;
  height: 3px;
}

#nprogress .peg {
  @apply shadow-purple-500;
}

#nprogress .spinner-icon {
  @apply border-t-purple-500 border-l-purple-500;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-purple-500 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-purple-600;
}